*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2e0974;
    font-family: 'Rubik', sans-serif;
}




h1 {
    color: #17a2b8;
    font-size: 2.5rem;
}

.container{

    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.navbar {
    background-color: #185288 !important;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
  
}


input {
    background-color: transparent !important;
    color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#welcome{
    margin-top: 8rem!important;
}



